
.login-form-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.login-form-wrapper > form {
    margin-top: 200px;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.login-form-wrapper > form > input {
    background-color: white;
    color: black;
    outline: none;
}